<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>所有用户</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/layui.css' %}">

</head>
<body>
{% load static %}
<script src="{% static 'layui.js' %}" charset="utf-8"></script>
{% csrf_token %}

<script type="text/html" id="toolbarDemo">
 <div class="layui-inline" lay-event="refresh"><i class="layui-icon layui-icon-refresh-3"></i></div>
</script>


<table class="layui-hide" id="test" lay-filter="test"></table>

<script type="text/html" id="barDemo">
    {% if '/movieDetail' in request.session.permissions %}
  <a class="layui-btn layui-btn-xs" lay-event="watch">查看</a>
    {% endif %}
  {% if '/add_collection' in request.session.permissions %}
    <a class="layui-btn layui-btn-xs" lay-event="addcollect">添加收藏</a>
    {% endif %}
  {% if '/del_collection' in request.session.permissions %}
    <a class="layui-btn layui-btn-xs" lay-event="delcollect">取消收藏</a>
    {% endif %}
</script>

<script>
  layui.use(['table','layer','jquery'], function(){
  var table = layui.table;
  var layer = layui.layer;
  var $=layui.$;

  table.render({
    elem: '#test'
    ,url:'/get_heat'
    ,id:'test'
    ,toolbar: '#toolbarDemo'
    ,cols: [[
      {field:'id', width:80, title: 'ID'}
      ,{field:'title', width:250, title: '电影名'}
      ,{field:'genres', width:250, title: '种类'}
      ,{field:'number_people', width:100, title: '收藏人数'}
      ,{field:'collectState', width:100, title: '状态',templet: function(d){if(d.collectState == '未收藏'){return '未收藏'}else{return '<span style="color: #FF0000;">已收藏</span>'}}}
      ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:230}
    ]]
    ,page: true
  });

     $.ajaxSetup({
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
        })
    table.on('toolbar(test)',function(obj){
      var event = obj.event;
      if(event=="refresh"){
        table.reload('test',{
            page:{
                curr:1
            }
         });
      }

    });

   //监听行工具事件
  table.on('tool(test)', function(obj){
    var data = obj.data;
    var event = obj.event;
    if(event === 'watch'){
         layer.open({
             type:2,
             title:'电影介绍',
             area: ['550px', '450px'],
             btn:['喜欢并收藏'],
             btnAlign: 'c',
             content:'/movieDetail?movieId='+data.id,
             yes:function(layero,index){
             }
        });

    }else if(event=='addcollect'){
     if(data.collectState=='未收藏'){
        $.ajax({
            //请求方式
            type : "GET",
            dataType:"json",
            url : "/add_collection",
            data : {'movieid':data.id,'operateType':0},
            //请求成功
            success : function(result) {
                obj.update({
                    collectState:'已收藏',
                    number_people:result.number_people
                });
                layer.msg('添加收藏成功');
            },
            //请求失败，包含具体的错误信息
            error : function(e){

            }
        });
     }else if(data.collectState=='已收藏'){
        layer.msg('已收藏');
     }
    }else if(event=='delcollect'){
      if(data.collectState=='已收藏'){
        $.ajax({
            //请求方式
            type : "GET",
            dataType:"json",
            url : "/del_collection",
            data : {'movieid':data.id,'operateType':0},
            //请求成功
            success : function(result) {
                obj.update({
                    collectState:'未收藏',
                    number_people:result.number_people
                });
                layer.msg('取消收藏成功');
            },
            //请求失败，包含具体的错误信息
            error : function(e){

            }
        });
      }else if(data.collectState=='未收藏'){
            layer.msg('未收藏');
      }
    }
  });

});



</script>

</body>
</html>