<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/layui.css' %}">
</head>
<body>
{% load static %}
<script src="{% static 'layui.js' %}" charset="utf-8"></script>
{% csrf_token %}


<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">

                <div class="layui-card-body" pad15>
                    <form class="layui-form" lay-filter="formDemo">

                        <div class="layui-form-item">
                            <label class="layui-form-label">当前密码</label>
                           <div class="layui-input-inline">
                                <input type="password" id="currentpassword" name="currentpassword" value="" lay-verify="currentpassword"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="newpassword" name="newpassword" value="" lay-verify="newpassword"
                                       autocomplete="off"  class="layui-input layui-form-danger">
                            </div>
                            <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">确认新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="confirmpassword" name="confirmpassword" value="" lay-verify="confirmpassword"
                                       autocomplete="off"  class="layui-input layui-form-danger">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="submitDemo">确认修改</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form','layer','jquery','upload','element'],function(){
        var form=layui.form;
        var layer=layui.layer;
        var $ = layui.$;

        form.on('submit(submitDemo)',function(data){

            len=$('#newpassword').val().length
            if (len<6 || len>12){
                layer.tips('密码必须6到12位，并且不能为空','#newpassword');
                return false;
            }
            if($('#newpassword').val()!=$('#confirmpassword').val()){
                layer.tips('两次密码输入不一致','#confirmpassword');
                return false;
            }

            $.ajax({
                    type:'get',
                    dataType:'json',
                    url:'/edit_password',
                    data: {'currentpassword':$('#currentpassword').val(),'newpassword':$('#confirmpassword').val()},
                    success:function(data){

                        if(data.msg=='true'){

                            form.render(null, 'formDemo');
                            layer.msg('修改成功');
                        }else{
                            layer.tips('当前密码不正确','#currentpassword');
                        }
                        return false;

                    },
                    error:function(e){

                    }
                });
            return false;

        });
    });


</script>
</body>
</html>